*{
    margin: 0;
    font-family: 'Aparajita';
    
}

.body{
    
    display: flex; 
    margin-left: 10px;
    margin-top: 15px;
    flex-wrap: wrap;
    background-color: rgb(83, 67, 67);
  
}


.header{
    display: flex;
    justify-content:space-between;
    align-items: center;
    width: 98%;
    background-color: cadetblue;
}


h1{
    color: #b94109;
}

.logo__site{
    padding: 2px;
    width: 78px;
}

.container{
    display: flex;
    flex-direction: column;
}


#lista{
    display: flex;
    margin-top: 10px;
    padding: 10px;
    gap: 15px;
    flex-wrap: wrap;
}

li:hover{
    border: 1px solid;
    border: none;
}

.item{
    width: 200px;
    height: 400px;
    font-size: 5px;
    cursor: pointer;
   
    
}

.item img {
    width: 100%;
}

.item:hover{
    border: 1cap solid rgb(94, 93, 92);
    padding: 1px;
    /* transition: all 0.3s; */
}
a{
    text-decoration: none;
    /* border: 2px solid #FFEBCD; */
    padding: 2px;
    color: #333;
    
}

li{
    display: flex;
    justify-content:space-evenly;
    margin-left: 3px;
    border-radius: 5px;
    padding: 2px; 
}

ul{
    display: flex;
    justify-content:space-around;
    align-items: center;
    flex-wrap:wrap ;
    width: 100%;
    border-radius: 5px;
    background-color: rgb(226, 226, 225);
    padding: 2px 2px;
    gap: 15px;
}



h2{
    display: flex;
    justify-content: center;
    color: white;
    text-align: center;
    font-size: 40px;
}

form{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: aliceblue;
    margin-top: 15px;
    height: 27px;
    padding: 4px;
    
}

input{

   border: none;
   outline: none;
   
   
}

button{
    background-color: #b94109;
    border: none;
    border-radius: 5px;
    color: antiquewhite;
    height: 25px;
    margin: 3px;

}

.botao:hover{
    cursor: pointer;
    background-color: coral;
}

.footer{
    margin-top: 200px;
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}

@media only screen and (max-width: 400px){
    .body{
        flex-direction: column;
        align-items: center;
    }


    .header{
        align-items: center;
    }

    #lista{
        

        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .item{
        width: 100%;
        height: auto;
        text-align: center;
    }
}