.body{
    /* display: flex; */
    background-color: rgb(83, 67, 67);
    flex-wrap: wrap;
}

@media  only screen and(max-width: 700px){
    .ul{
        float: none;
        flex-direction: column;
        height: auto;
    }

    footer{
       font-size: 14px;
       padding: 5px;
    }


}

.header{
    display: flex;
    flex-direction: column;
    align-items:flex-end;
    flex-wrap: wrap;
    background-color: rgb(255, 255, 255);
    height: 75px;
    border-radius: 5px;
}


h1{
    color: #b94109;
}


.container{
    display: flex;
    flex-direction: column;
}
.logo__site{
    padding: 2px;
    width: 78px;
}

.lista{
    display: flex;
    gap: 25px;
}

.item:hover{
    border: 1cap solid tomato;
    padding: 1px;
}
a{
    text-decoration: none;
    border: 2px solid #FFEBCD;
    padding: 2px;
    color: #333;
}

li{
    display: flex;
    justify-content:space-evenly;
    margin-left: 3px;
    border-radius: 5px;
    padding: 2px; 
}

ul{
    display: flex;
    justify-content:space-around;
    align-items: center;
    position: relative;
    z-index: 300;
    flex-wrap:wrap ;
    width: 100%;
    border-radius: 5px;
    background-color: bisque;
    padding: 2px 2px;
    gap: 15px;
}

h2{
    display: flex;
    justify-content: center;
    color: white;
    text-align: center;
    font-size: 40px;
}

form{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: aliceblue;
    margin-top: 15px;
    height: 27px;
    padding: 4px;
    
}

input{

   border: none;
   outline: none;
   
   
}

button{
    background-color: #b94109;
    border: none;
    border-radius: 5px;
    color: antiquewhite;
    height: 25px;
    margin: 3px;

}

.botao:hover{
    cursor: pointer;
    background-color: coral;
}

.footer{
    margin-top: 200px;
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}

