

body{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

}


form{
    background-color: mediumaquamarine;
    display: flex;
    flex-direction: column;
    width: 250px;
    justify-content:center;
    align-items: center;
    border-radius:  5px;
}