.numero{/*eleciona a classe numero*/
    color: blue; /* muda a cor do texto */  
  font-size: larger; /* aumenta o tamanho da fonte */
}

.ok{/*eleciona a classe ok*/
    color: tomato;/* muda a cor do texto */
    font-weight: 700;/* deixa o texto em negrito */
}

.erro{/*eleciona a classe erro*/
    color: red;/* muda a cor do texto */
    font-size: 25px;/* aumenta o tamanho da fonte */
}